__pycache__/
.pytest_cache/
.venv/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
outputs/
results/
figures/
wandb/
logs/
*.log
.DS_Store
*.ipynb_checkpoints
*.err
*.out
.cursor/
slurm_scripts/
conf/archive/





